.book {
  background: var(--color-grey-light-1);
  text-align: center;
  position: relative;
  padding: 5rem 0;


  &__heading {
    font-weight: 300;
    font-size: 2rem;
    margin-bottom: 5rem;
  }

  &__btn-container{
    
  }
  
  &__btn {



  }
}

